@import '../Mixins/Responsive';

.card {
  // width: 16.6%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #eee;
  background-color: #000;
  margin: 10px;
  @include responsive(only-tablet){
    // width: calc(50% - 50px);
  }
  @include responsive(only-mobile){
    // width: calc(100% - 20px);
  }
  & img {
    width: 110px;
  }
  & .noImg {
    width: 130px;
    height: 187px;
    border: 1px solid #000;
    background-color: #ccc;
  }
  &__title {
    font-size: 1.2rem;
    color: #eee;
    text-decoration: none;
  }
  &__description {
    font-size: 0.8rem;
  }
}