@import '../Mixins/Responsive';

.movie__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  @include responsive(only-tablet){
    grid-template-columns: repeat(4, 1fr);
  }
  @include responsive(only-mobile){
    grid-template-columns: repeat(2, 1fr);
  }
}
