@import '../Mixins/Responsive';
@import "../FontFamily.scss";

.card {
  position: relative;
  // width: 16.6%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #eee;
  margin: 10px;
  @include responsive(only-tablet){
    // width: calc(50% - 50px);
  }
  @include responsive(only-mobile){
    // width: calc(100% - 20px);
  }
  & img {
    margin: auto;
    width: 130px;
    border: 10px solid #001;
    box-shadow: 0px 20px 5px -3px #001033;
  }
  & .noImg {
    width: 130px;
    height: 187px;
    border: 10px solid #001;
    box-shadow: 0px 20px 5px -3px #001033;
    background-color: #ccc;
  }
  &__title {
    font-family: "NotoSansKR";
    margin-top: 10px;
    font-size: 1.1rem;
    color: #eee;
    text-decoration: none;
  }
  &__description {
    font-family: "NotoSansKR";
    font-size: 0.5rem;
  }
  &__link {
    display: inline-block;
    font-family: "NotoSansKR";
    font-weight: bold;
    font-size: 0.7rem;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 234);
    text-decoration: none;
    color: #eee;
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 173);
  }
}